<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>
  <body>

    <%- include('./partials/_header.ejs') %>

      <h2>Login with your credentials:</h2>

      <form action="/login" method="POST">
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="email@example.com" style="width: 300px">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Type your password..." style="width: 300px">
        <button type="submit" class="btn btn-primary">Login</button>
      </form>

      <h2>Need to create an account? <a href="/register">Click here to register.</a></h2>

  </body>
</html>