<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>
<body>
    <%- include('./partials/_header.ejs') %>
    <h3>Create Account</h3>
    <form action="/register" method="POST">
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="email@example.com" style="width: 300px">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Choose a secure password!" style="width: 300px">
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    
</body>
</html>